---
layout: archive
---
<ul class="taxonomy__index">
  {% for category in site.categories %}
    {% assign filtered_posts = category[1] | where_exp: "post", "post.path contains '/Invited_Events/'" %}
    {% if filtered_posts.size > 0 %}
      <li>
        <a href="#{{ category[0] | slugify }}">
          <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ filtered_posts.size }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{{ content }}

{% for category in site.categories %}
  {% assign filtered_posts = category[1] | where_exp: "post", "post.path contains '/Invited_Events/'" %}
  {% if filtered_posts.size > 0 %}
    <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
      <h2 class="archive__subtitle">{{ category[0] }}</h2>

      <!-- Assign the layout to a variable first -->
      {% assign layout_type = page.entries_layout | default: 'list' %}
      <div class="entries-{{ layout_type }}">
        <!-- Pass the variable to the include -->
        {% for post in filtered_posts %}
          {% include archive-single.html type=layout_type %}
        {% endfor %}
      </div>
      
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
  {% endif %}
{% endfor %}
